---
pre_commits:
  GitHooks::PreCommit::TrailingWhitespace:
  GitHooks::PreCommit::PreventDebugger:
  GitHooks::PreCommit::PreventMaster:
  GitHooks::PreCommit::Rubocop:
    use_stash: false
  GitHooks::PreCommit::Rspec:
